[submodule "saddle-bags"]
	path = saddle-bags
	url = https://github.com/transplantation-immunology/saddle-bags.git
[submodule "nit-picker"]
	path = nit-picker
	url = https://github.com/transplantation-immunology/nit-picker
